alias slrn='TERM=xterm-256color slrn'
alias vi='TERM=xterm-256color vim'
alias view='TERM=xterm-256color view'

alias tclsh='rlwrap tclsh'
alias sbcl='rlwrap sbcl'

alias grep='grep --color=auto'
alias grepc='grep --color=auto -n -C2'
alias psgrep='ps -al | grep'
alias fhdr='find /usr/include -name "*.h" | xargs grep -n '
alias rgrep='find . -type f | xargs grep -n '
alias r='!-1'
alias h='fc -l -10'
alias hg='fc -l -$HISTSIZE | grep '
alias man='man -P less'
alias ctags='find . \( -name "*.cpp" -o -name "*.c" -o -name "*.pc" -o -name "*.h" \) | etags -'
alias jtags='find . -name "*.java" | etags -'
alias pytags='find . -name "*.py" | etags -'
alias whence='whereis'
alias asn1dump='openssl asn1parse -i -dump <'
alias asn1dump_der='openssl asn1parse -i -inform DER -dump <'
alias pem2der='openssl x509 -inform PEM -outform DER -in '
alias der2pem='openssl x509 -inform DER -outform PEM -in '
alias aiff2mp3='find . -name "*.aiff" -exec basename {} ".aiff" \; | tr "\012" "\000" | xargs -0 -I{} -0 ffmpeg -i {}.aiff -f mp3 -acodec libmp3lame -ab 192000 -ar 44100 {}.mp3'

if [ $(uname) = "FreeBSD" ]; then
   alias ls='ls -G'
   alias vless='TERM=xterm-256color /usr/local/share/vim/vim73/macros/less.sh'
elif [ $(uname) = "Linux" ]; then
   alias ls='ls --color'
   alias vless='TERM=xterm-256color /usr/share/vim/vim73/macros/less.sh'
   alias watchf='iwatch -e all_events '
   alias execnr='setarch i386 -RL '
fi
